<ng-container *ngIf="policyData$ |async as policyData">
    <form [formGroup]="policyForm">
        <mat-form-field appearance="standard">
            <mat-label>Policy Number</mat-label>
            <input matInput type="number" formControlName="policyNumber">
            <mat-error *ngIf="this.policyForm.get('policyNumber').invalid">{{validateMessage('policyNumber')}}</mat-error>
        </mat-form-field>
        <ng-container formGroupName="policyHolder">
            <mat-form-field appearance="standard">
                <mat-label>Customer Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="this.policyForm.get('policyHolder.name').invalid">{{validateMessage('policyHolder.name')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Customer Age</mat-label>
                <input matInput type="number" formControlName="age">
                <mat-error *ngIf="this.policyForm.get('policyHolder.age').invalid">{{validateMessage('policyHolder.age')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Gender</mat-label>
                <mat-select [(value)]="policyData.selectedGender" formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.policyForm.get('policyHolder.gender').invalid">{{validateMessage('policyHolder.age')}}
                </mat-error>

            </mat-form-field>
        </ng-container>
    </form>
    <ng-container *ngIf="policyData.policyHolder?.name">
        <button mat-button mat-raised-button color="primary" [disabled]="!policyForm.valid" (click)="updatePolicy(policyData)">Update</button>
        <button mat-button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </ng-container>

    <ng-container *ngIf="!policyData.policyHolder?.name">
        <button mat-button mat-raised-button color="primary" [disabled]="!policyForm.valid" (click)="addPolicy()">Add</button>
    </ng-container>
</ng-container>